# Development dependencies
# Install with: pip install -r requirements-dev.txt

-r requirements.txt

# Task Automation
tox>=4.11

# Testing
pytest>=8.0
pytest-cov>=4.0

# The "All-in-One" Linter & Formatter
ruff>=0.5.1

# Project Meta Formatting
pyproject-fmt>=2.1.4

# Type Checking
mypy>=1.11.0